In [1]:
import pandas as pd
import numpy as np
from os import listdir
from os import path
from os.path import isfile, join
import glob

## Traffico animali

In [2]:
mypath ="dati robot/dati robot nuovo/traffico animale/"
files = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [3]:
appended_data = []
for file in files:
    df = pd.read_csv(join(mypath,file),delimiter=";")
    appended_data.append(df)
appended_data = pd.concat(appended_data)

/var/folders/48/tzp62xjn58bb_nw1n30kx0sh0000gn/T/ipykernel_22006/3753285995.py:3: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(join(mypath,file),delimiter=";")
/var/folders/48/tzp62xjn58bb_nw1n30kx0sh0000gn/T/ipykernel_22006/3753285995.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(join(mypath,file),delimiter=";")
/var/folders/48/tzp62xjn58bb_nw1n30kx0sh0000gn/T/ipykernel_22006/3753285995.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(join(mypath,file),delimiter=";")
/var/folders/48/tzp62xjn58bb_nw1n30kx0sh0000gn/T/ipykernel_22006/3753285995.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(join(mypath,file),delimiter=";")
/var/folders/48/tzp62xjn58bb_nw1n30kx0sh0000gn/T/ipykernel_22006/3753285995.py:3: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(join(mypath,file),delimiter=";")

In [4]:
appended_data.to_csv("traffico_animali.csv",index=False)

In [5]:
appended_data.describe()

,Numero animale,Nome gruppo,Data/Ora,Area precedente,Tempo nell'area (hh:mm),Nome dispositivo,Risultato,Decisione cancello,Intervallo Mungitura,Capezzoli non completamente munti
count,872750,872742,872742,865907,872742,872613,872742,182020,260161,13862
unique,767,8,454470,21,1440,12,1581,13,2779,15
top,661,VMS 4,20/04/2022 14:27,MS1,00:00,MS1,Solo passaggio A MS1,Errore,08:16,"PS,PD"
freq,4625,200412,17,122113,64108,139217,68758,77314,940,4224

In [6]:
appended_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 872750 entries, 0 to 64430
Data columns (total 10 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Numero animale                     872750 non-null  object
 1   Nome gruppo                        872742 non-null  object
 2   Data/Ora                           872742 non-null  object
 3   Area precedente                    865907 non-null  object
 4   Tempo nell'area (hh:mm)            872742 non-null  object
 5   Nome dispositivo                   872613 non-null  object
 6   Risultato                          872742 non-null  object
 7   Decisione cancello                 182020 non-null  object
 8   Intervallo Mungitura               260161 non-null  object
 9   Capezzoli non completamente munti  13862 non-null   object
dtypes: object(10)
memory usage: 73.2+ MB

## Mungitura

In [7]:
old_col = df.columns
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [8]:
new_columns = ['Ora inizio', 'Numero animale', 'Gruppo', 'MS/MP', 'Azione',
       'Durata (MM:SS)', 'Produzione (kg)', 'Numero mungitura',
       'OCC(*1000 Cell/ml)', 'Kick-off', 'Incompleto', 'Capezzoli non trovati',
       'Mammella', 'Capezzolo', 'Flusso AS', 'Flusso AD', 'Flusso PS', 'Flusso PD', 'Sangue AS', 'Sangue AD', 'Sangue PS', 'Sangue PD',
       'Conducibilità AS', 'Conducibilità AD', 'Conducibilità PS', 'Conducibilità PD', 'Utente', 'Destinazione latte',
       'Motivo separazione', 'PicchiFlusso AS', 'PicchiFlusso AD', 'PicchiFlusso PS', 'PicchiFlusso PD', 'Produzione AS', 'Produzione AD', 'Produzione PS', 'Produzione PD']

In [9]:
mypath ="dati robot/dati robot nuovo/"
files = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [10]:
appended_data = []
for file in files:
    df = pd.read_excel(join(mypath,file))
    df = df[1:] #take the data less the header row
    df.columns = new_columns #set the header row as the df header
    appended_data.append(df)
# see pd.concat documentation for more info
appended_data = pd.concat(appended_data)

In [11]:
# write DataFrame to a csv sheet 
appended_data.to_csv('Mungitura.csv',index=False)

## Eventi

In [14]:
x = pd.read_csv("MungituraEventi.csv")

In [19]:
x.to_csv("MungituraEventi.csv",index=False)