In [1]:
import pandas as pd
import numpy as np
from os import listdir
from os import path
from os.path import isfile, join
import glob

## Traffico animali
Non ci sono problemi perche header è su una sola riga , facciamo il merge solamente

In [3]:
mypath ="dati robot/dati vecchio robot/traffico animale/"
files = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [4]:
appended_data = []
for file in files:
    df = pd.read_csv(join(mypath,file),delimiter=";")
    appended_data.append(df)
appended_data = pd.concat(appended_data)

In [5]:
appended_data.to_csv("traffico_animali_old.csv",index=False)

In [6]:
appended_data.describe()

       Decisione cancello
count                 0.0
mean                  NaN
std                   NaN
min                   NaN
25%                   NaN
50%                   NaN
75%                   NaN
max                   NaN

In [7]:
appended_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297052 entries, 0 to 56007
Data columns (total 10 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Numero animale                     297052 non-null  object
 1   Nome gruppo                        297051 non-null  object
 2   Data/Ora                           297051 non-null  object
 3   Area precedente                    296113 non-null  object
 4   Tempo nell'area (hh:mm)            297051 non-null  object
 5   Nome dispositivo                   296867 non-null  object
 6   Risultato                          297051 non-null  object
 7   Decisione cancello                 0 non-null       float64
 8   Intervallo Mungitura               145298 non-null  object
 9   Capezzoli non completamente munti  9841 non-null    object
dtypes: float64(1), object(9)
memory usage: 24.9+ MB

## Mungitura

In [17]:
old_col = df.columns
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [18]:
new_columns = ['Ora inizio', 'Numero animale', 'Gruppo', 'MS/MP', 'Azione',
       'Durata (MM:SS)', 'Produzione (kg)', 'Numero mungitura',
       'OCC(*1000 Cell/ml)', 'Kick-off', 'Incompleto', 'Capezzoli non trovati',
       'Mammella', 'Capezzolo', 'Flusso AS', 'Flusso AD', 'Flusso PS', 'Flusso PD', 'Sangue AS', 'Sangue AD', 'Sangue PS', 'Sangue PD',
       'Conducibilità AS', 'Conducibilità AD', 'Conducibilità PS', 'Conducibilità PD', 'Utente', 'Destinazione latte',
       'Motivo separazione', 'PicchiFlusso AS', 'PicchiFlusso AD', 'PicchiFlusso PS', 'PicchiFlusso PD', 'Produzione AS', 'Produzione AD', 'Produzione PS', 'Produzione PD']

In [19]:
mypath ="dati robot/dati vecchio robot/"
files = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [20]:
appended_data = []
for file in files:
    df = pd.read_excel(join(mypath,file))
    df = df[1:] #take the data less the header row
    df.columns = new_columns #set the header row as the df header
    appended_data.append(df)
# see pd.concat documentation for more info
appended_data = pd.concat(appended_data)

In [21]:
# write DataFrame to a csv sheet 
appended_data.to_csv('Mungitura_old.csv',index=False)

## Eventi

In [14]:
x = pd.read_csv("MungituraEventi.csv")

In [19]:
x.to_csv("MungituraEventi.csv",index=False)