# CONFRONTO TRAFFICO

In [1]:
import pandas as pd
TO=pd.read_csv("DatasetProcessed/Traffico_OLD.csv",sep=";")
TN=pd.read_csv("DatasetProcessed/Traffico_NEW.csv",sep=";")

C:\Users\digig\AppData\Local\Temp\ipykernel_4856\3273837854.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  TO=pd.read_csv("DatasetProcessed/Traffico_OLD.csv",sep=";")
C:\Users\digig\AppData\Local\Temp\ipykernel_4856\3273837854.py:3: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  TN=pd.read_csv("DatasetProcessed/Traffico_NEW.csv",sep=";")

['Numero animale', 'Nome gruppo', 'Data/Ora', 'Area precedente',
       'Tempo nell'area (hh:mm)', 'Nome dispositivo', 'Risultato',
       'Decisione cancello', 'Intervallo Mungitura',
       'Capezzoli non completamente munti', 'Ore', 'Minuti', 'OreTotali',
       'Data', 'Tempo', 'Mese', 'Anno', 'Mese Anno', 'PD', 'AD', 'PS', 'AS'],

In [2]:
Capezzoli=["PS","PD","AS","AD"]

In [3]:
TO_static=TO.groupby("Mese Anno").sum()
TO_static=TO_static.iloc[:-1,:]
TO_static.drop("Decisione cancello",axis=1,inplace=True)
TO_static["Totale capezzoli non munti"]= TO_static["PS"]+TO_static["PD"]+TO_static["AS"]+TO_static["AD"]
TO_static["Tempo nell'area (h)"]=TO_static["Ore"]+(TO_static["Minuti"]/60)
TO_static["Tempo nell'area (h)"]=TO_static["Tempo nell'area (h)"].astype("int64",)
A=["Ore","Minuti"]
TO_static['Somma animali']=(TO.groupby("Mese Anno").count())['Numero animale']
TO_static.drop(A,axis=1,inplace=True)

In [4]:
TO_static.to_excel("Traffico_sta.xlsx")

PermissionError: [Errno 13] Permission denied: 'Traffico_sta.xlsx'

In [ ]:
TN_static=TN.groupby("Mese Anno").sum()
TN_static=TN_static.iloc[:-1,:]
#TN_static.drop("Decisione cancello",axis=1,inplace=True)
TN_static["Totale capezzoli non munti"]= TN_static["PS"]+TN_static["PD"]+TN_static["AS"]+TN_static["AD"]
TN_static["Tempo nell'area (h)"]=TN_static["Ore"]+(TN_static["Minuti"]/60)
TN_static["Tempo nell'area (h)"]=TN_static["Tempo nell'area (h)"].astype("int64",)
A=["Ore","Minuti"]
TN_static.drop(A,axis=1,inplace=True)
TN_static['Somma animali']=(TN.groupby("Mese Anno").count())['Numero animale']
TN_static

,PD,AD,PS,AS,Totale capezzoli non munti,Tempo nell'area (h),Somma animali
Mese Anno,,,,,,,
2020-01,67,15,68,1,151,24932,5124
2020-02,75,20,79,1,175,25493,5184
2020-03,70,15,66,1,152,23786,5205
2020-04,54,20,58,0,132,25237,5081
2020-05,69,15,77,1,162,25529,5042
2020-06,160,57,162,12,391,49019,10136
2020-07,354,114,361,27,856,109081,22482
2020-08,227,49,197,2,475,109346,23681
2020-09,291,63,301,7,662,104746,21351
2020-10,222,45,236,5,508,105775,21332
2020-11,197,34,198,4,433,94004,18493
2020-12,425,93,403,6,927,213215,67083
2021-01,535,160,518,48,1261,229998,82333
2021-02,156,38,160,5,359,45157,13212
2021-03,155,48,151,8,362,44575,12866
2021-04,275,87,296,10,668,73647,23423
2021-05,350,93,382,13,838,99884,29642
2021-06,454,100,466,19,1039,114872,29630
2021-07,395,166,493,24,1078,123853,31215
2021-08,391,134,386,11,922,116364,29548
2021-09,330,101,380,10,821,103851,27030
2021-10,402,74,430,2,908,98879,25949
2021-11,399,83,441,11,934,91007,23929
2021-12,397,117,375,17,906,80767,19877
2022-01,432,79,388,19,918,87630,23034
2022-02,363,105,302,26,796,95153,25023
2022-03,385,119,432,24,960,156132,47933
2022-04,402,122,395,23,942,250608,87710
2022-05,292,98,228,22,640,159506,54219
2022-06,84,25,78,6,193,35098,10906
2022-07,86,24,77,4,191,33898,10790
2022-08,71,28,63,5,167,32884,10852
2022-09,72,27,65,2,166,33844,11107
2022-10,70,27,73,2,172,34363,11013
2022-11,79,31,61,6,177,33092,10650
2022-12,81,23,74,4,182,32677,10657

In [ ]:
TN_static.to_excel("Traffico2_sta.xlsx")

In [ ]:
display(TO_static.mean())
display(TN_static.mean())

PD                              239.916667
AD                               46.958333
PS                              243.875000
AS                                3.041667
Totale capezzoli non munti      533.791667
Tempo nell'area (h)           56576.791667
Somma animali                 12377.125000
dtype: float64

PD                              246.305556
AD                               68.027778
PS                              247.777778
AS                               10.777778
Totale capezzoli non munti      572.888889
Tempo nell'area (h)           86608.388889
Somma animali                 24242.833333
dtype: float64

In [6]:
TU=pd.concat([TN, TO], ignore_index=True, sort=False)
TU_static=TU.groupby("Mese Anno").sum()
TU_static=TU_static.iloc[:-1,:]
#TU_static.drop("Decisione cancello",axis=1,inplace=True)
TU_static["Totale capezzoli non munti"]= TU_static["PS"]+TU_static["PD"]+TU_static["AS"]+TU_static["AD"]
TU_static["Tempo nell'area (h)"]=TU_static["Ore"]+(TU_static["Minuti"]/60)
TU_static["Tempo nell'area (h)"]=TU_static["Tempo nell'area (h)"].astype("int64",)
A=["Ore","Minuti"]
TU_static.drop(A,axis=1,inplace=True)
TU_static['Somma animali']=(TU.groupby("Mese Anno").count())['Numero animale']
TU_static

,PD,AD,PS,AS,Totale capezzoli non munti,Tempo nell'area (h),Somma animali
Mese Anno,,,,,,,
2019-01,76,16,100,0,192,26011,5529
2019-02,72,13,97,0,182,26382,5632
2019-03,108,17,114,1,240,26049,5592
2019-04,95,11,103,2,211,26365,5684
2019-05,214,48,236,4,502,58189,13407
2019-06,317,67,267,9,660,85804,18969
2019-07,247,59,271,4,581,99681,21264
2019-08,326,75,338,3,742,104416,21864
2019-09,343,77,426,3,849,97430,20960
2019-10,448,90,547,1,1086,99036,21663
2019-11,411,74,462,5,952,91435,20036
2019-12,503,53,604,0,1160,90000,20023
2020-01,400,77,372,2,851,92255,19710
2020-02,421,81,363,4,869,91795,19244
2020-03,473,112,394,6,985,90876,20296
2020-04,410,70,306,8,794,98678,21600
2020-05,437,81,443,7,968,105504,23288
2020-06,403,116,406,18,943,109765,23214
2020-07,434,134,432,30,1030,127225,26394
2020-08,319,72,296,5,692,127266,27702
2020-09,377,92,377,7,853,123264,25336
2020-10,330,67,335,6,738,124966,25895
2020-11,304,52,289,7,652,114882,23030
2020-12,501,113,481,8,1103,230740,70913
2021-01,535,160,518,48,1261,229998,82333
2021-02,156,38,160,5,359,45157,13212
2021-03,155,48,151,8,362,44575,12866
2021-04,275,87,296,10,668,73647,23423
2021-05,350,93,382,13,838,99884,29642
2021-06,454,100,466,19,1039,114872,29630
2021-07,395,166,493,24,1078,123853,31215
2021-08,391,134,386,11,922,116364,29548
2021-09,330,101,380,10,821,103851,27030
2021-10,402,74,430,2,908,98879,25949
2021-11,399,83,441,11,934,91007,23929
2021-12,397,117,375,17,906,80767,19877
2022-01,432,79,388,19,918,87630,23034
2022-02,363,105,302,26,796,95153,25023
2022-03,385,119,432,24,960,156132,47933
2022-04,402,122,395,23,942,250608,87710
2022-05,292,98,228,22,640,159506,54219
2022-06,84,25,78,6,193,35098,10906
2022-07,86,24,77,4,191,33898,10790
2022-08,71,28,63,5,167,32884,10852
2022-09,72,27,65,2,166,33844,11107
2022-10,70,27,73,2,172,34363,11013
2022-11,79,31,61,6,177,33092,10650
2022-12,81,23,74,4,182,32677,10657

In [8]:
TU.to_csv("DatasetProcessed/Traffico_Unito_New_Old.csv",index=False,sep=';',decimal=',')

In [7]:
TU

,Numero animale,Nome gruppo,Data/Ora,Area precedente,Tempo nell'area (hh:mm),Nome dispositivo,Risultato,Decisione cancello,Intervallo Mungitura,Capezzoli non completamente munti,...,OreTotali,Data,Tempo,Mese,Anno,Mese Anno,PD,AD,PS,AS
0,980,Asciutte,21/03/2022 08:46,MS1,06:26,MS1,NaN,NaN,NaN,NaN,...,"6,433333333333334",2022-03-21,08:46:00,"3,0","2022,0",2022-03,0,0,0,0
1,980,Asciutte,20/03/2022 02:19,MS1,00:11,MS1,NaN,NaN,NaN,NaN,...,"0,18333333333333332",2022-03-20,02:19:00,"3,0","2022,0",2022-03,0,0,0,0
2,980,Asciutte,20/03/2022 02:07,MS1,14:12,MS1,"0,05",NaN,1 d 14:12,NaN,...,"14,2",2022-03-20,02:07:00,"3,0","2022,0",2022-03,0,0,0,0
3,980,Asciutte,18/03/2022 11:55,MS1,00:02,MS1,NaN,NaN,NaN,NaN,...,"0,03333333333333333",2022-03-18,11:55:00,"3,0","2022,0",2022-03,0,0,0,0
4,980,Asciutte,18/03/2022 11:52,MS1,06:12,MS1,"0,01",NaN,06:12,NaN,...,"6,2",2022-03-18,11:52:00,"3,0","2022,0",2022-03,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169797,968,VMS 4,21/05/2019 00:49,NaN,00:04,MS2,"4,75",NaN,13:15,NaN,...,"0,06666666666666667",2019-05-21,00:49:00,"5,0","2019,0",2019-05,0,0,0,0
1169798,160,VMS 4,21/05/2019 00:31,MS1,00:10,MS1,NaN,NaN,NaN,NaN,...,"0,016666666666666666",2019-05-21,00:31:00,"5,0","2019,0",2019-05,0,0,0,0
1169799,160,VMS 4,21/05/2019 00:20,NaN,00:00,MS1,"2,98",NaN,07:56,NaN,...,"0,0",2019-05-21,00:20:00,"5,0","2019,0",2019-05,0,0,0,0
1169800,284,VMS 4,21/05/2019 00:19,MS1,00:06,MS1,NaN,NaN,NaN,NaN,...,"0,1",2019-05-21,00:19:00,"5,0","2019,0",2019-05,0,0,0,0
1169801,284,VMS 4,21/05/2019 00:12,NaN,00:06,MS1,"5,23",NaN,07:02,NaN,...,"0,1",2019-05-21,00:12:00,"5,0","2019,0",2019-05,0,0,0,0

# CONFRONTO EVENTI

In [22]:
import pandas as pd
EO=pd.read_csv("DatasetProcessed/Eventi_OLD.csv",sep=";")
EN=pd.read_csv("DatasetProcessed/Eventi_NEW.csv",sep=";")

In [25]:
EO_static=EO.groupby("Mese Anno").count().sum()
EO_static

Numero animale    20710
Gruppo            19818
Data evento       20710
Tipo              20710
Descrizione       20626
Data uscita       13776
Utente            19319
Data              20710
Tempo             20710
Mese              20710
Anno              20710
dtype: int64

In [26]:
EN_static=EO.groupby("Mese Anno").count().sum()
EN_static

Numero animale    20710
Gruppo            19818
Data evento       20710
Tipo              20710
Descrizione       20626
Data uscita       13776
Utente            19319
Data              20710
Tempo             20710
Mese              20710
Anno              20710
dtype: int64

# Mungitura

In [36]:
import pandas as pd
MO=pd.read_csv("DatasetProcessed/Mungitura_OLD.csv",sep=";")
MN=pd.read_csv("DatasetProcessed/Mungitura_NEW.csv",sep=";")

C:\Users\digig\AppData\Local\Temp\ipykernel_30736\3655298938.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  MN=pd.read_csv("DatasetProcessed/Mungitura_NEW.csv",sep=";")

In [17]:
MO.columns

Index(['Ora inizio', 'Numero animale', 'Gruppo', 'MS/MP', 'Azione',
       'Durata (MM:SS)', 'Produzione (kg)', 'Numero mungitura',
       'OCC(*1000 Cell/ml)', 'Kick-off', 'Incompleto', 'Capezzoli non trovati',
       'Mammella', 'Capezzolo', 'Flusso AS', 'Flusso AD', 'Flusso PS',
       'Flusso PD', 'Sangue AS', 'Sangue AD', 'Sangue PS', 'Sangue PD',
       'Conducibilità AS', 'Conducibilità AD', 'Conducibilità PS',
       'Conducibilità PD', 'Utente', 'Destinazione latte',
       'Motivo separazione', 'PicchiFlusso AS', 'PicchiFlusso AD',
       'PicchiFlusso PS', 'PicchiFlusso PD', 'Produzione AS', 'Produzione AD',
       'Produzione PS', 'Produzione PD', 'Minuti', 'Secondi', 'MinutiTotali',
       'Data', 'Tempo', 'Mese', 'Anno', 'Mese Anno', 'Kick-offPD',
       'Kick-offAD', 'Kick-offPS', 'Kick-offAS', 'IncompletoPD',
       'IncompletoAD', 'IncompletoPS', 'IncompletoAS',
       'Capezzoli non trovatiPD', 'Capezzoli non trovatiAD',
       'Capezzoli non trovatiPS', 'Capezzoli non trovatiAS', 'CapezzoloPD',
       'CapezzoloAD', 'CapezzoloPS', 'CapezzoloAS'],
      dtype='object')

In [66]:
MO1=MO
#MO1["MinutiTotali"]=MO1["MinutiTotali"].replace(",",".",inplace=True)
#MO1["MinutiTotali"].replace(None,"0",inplace=True)
for i,k in MO1.iterrows():
        if k["MinutiTotali"] is None:
                k["MinutiTotali"]="0"
        #print(i)
#MO1["MinutiTotali"]

In [67]:
MO1["MinutiTotali"].notnull()

0         False
1         False
2         False
3         False
4         False
          ...
153898    False
153899    False
153900    False
153901    False
153902    False
Name: MinutiTotali, Length: 153903, dtype: bool

In [37]:
MO1=MO
MO1_static1=MO1.groupby("Mese Anno").sum()
MO1["MinutiTotali"]=MO1["MinutiTotali"].replace(",",".",inplace=True)
MO1["MinutiTotali"]=MO1["MinutiTotali"].astype("int")
print(MO1["MinutiTotali"])
A=[ 'Produzione (kg)','Flusso AS', 'Flusso AD', 'Flusso PS',
       'Flusso PD', 'Sangue AS', 'Sangue AD', 'Sangue PS', 'Sangue PD',
       'Conducibilità AS', 'Conducibilità AD', 'Conducibilità PS',
       'Conducibilità PD', 'PicchiFlusso AS', 'PicchiFlusso AD',
       'PicchiFlusso PS', 'PicchiFlusso PD', 'Produzione AS', 'Produzione AD',
       'Produzione PS', 'Produzione PD', 'MinutiTotali', 'Kick-offPD',
       'Kick-offAD', 'Kick-offPS', 'Kick-offAS', 'IncompletoPD',
       'IncompletoAD', 'IncompletoPS', 'IncompletoAS',
       'Capezzoli non trovatiPD', 'Capezzoli non trovatiAD',
       'Capezzoli non trovatiPS', 'Capezzoli non trovatiAS', 'CapezzoloPD',
       'CapezzoloAD', 'CapezzoloPS', 'CapezzoloAS']

A=['Ora inizio', 'Numero animale', 'Gruppo', 'MS/MP', 'Azione',
       'Durata (MM:SS)', 'Produzione (kg)', 'Numero mungitura',
       'OCC(*1000 Cell/ml)', 'Kick-off', 'Incompleto', 'Capezzoli non trovati',
       'Mammella', 'Capezzolo', 'Utente', 'Destinazione latte',
       'Mo1tivo separazione', 'Minuti', 'Secondi', 'MinutiTotali',
       'Data', 'Tempo', 'Mese', 'Anno', 'Mese Anno']

A=["Numero animale","OCC(*1000 Cell/ml)","Minuti","Secondi",
       "Mese","Anno",'Kick-offPD',
       'Kick-offAD', 'Kick-offPS', 'Kick-offAS', 'IncompletoPD',
       'IncompletoAD', 'IncompletoPS', 'IncompletoAS',
       'Capezzoli non trovatiPD', 'Capezzoli non trovatiAD',
       'Capezzoli non trovatiPS', 'Capezzoli non trovatiAS', 'CapezzoloPD',
       'CapezzoloAD', 'CapezzoloPS', 'CapezzoloAS']
MO1_static1.drop(A,axis=1,inplace=True)
MO1_static1

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [28]:
TO_static=TO.groupby("Mese Anno").sum()
TO_static=TO_static.iloc[:-1,:]
TO_static.drop("Decisione cancello",axis=1,inplace=True)
TO_static["Totale capezzoli non munti"]= TO_static["PS"]+TO_static["PD"]+TO_static["AS"]+TO_static["AD"]
TO_static["Tempo nell'area (h)"]=TO_static["Ore"]+(TO_static["Minuti"]/60)
TO_static["Tempo nell'area (h)"]=TO_static["Tempo nell'area (h)"].astype("int64",)
A=["Ore","Minuti"]
TO_static['Somma animali']=(TO.groupby("Mese Anno").count())['Numero animale']
TO_static.drop(A,axis=1,inplace=True)

# ATT

## Azione

## Durata

## Produzione

## Numero di mungitura

## Kick off

## Capezzolo non trovato

## Capezzolo

## Flusso

## Sangue

## Conducibilita

## Utente

## Destinazione

## Picchi flusso

## Produzione